@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem;
}

.logo {
  aspect-ratio: 108 / 105;
}

.imagefill {
  width: 100%;
  aspect-ratio: 2/1;
  position: relative;
  left: 0;
}

.maingrid {
  display: grid;
  grid-template-columns: 156px 1fr;
  height: 100vh;
  overflow: auto;
}

.sidenav {
  grid-column: 1/2;
  width: 156px;
  height: 100vh;
  overflow: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidenav::-webkit-scrollbar {
  display: none;
}

.contentmain {
  grid-column: 2/3;
}

.post-content {
  margin: 0 auto;
  max-width: 1080px;
}

.post-content > * {
  margin-bottom: 24px;
}
