@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.logo {
  aspect-ratio: 108 / 105;
}

.imagefill {
  width: 100%;
  aspect-ratio: 2/1;
  position: relative;
  left: 0;
}

.maingrid {
  display: grid;
  grid-template-columns: 156px 1fr;
}

.sidenav {
  grid-column: 1/2;
  width: 156px;
  height: 100vh;
  overflow: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidenav::-webkit-scrollbar {
  display: none;
}

.contentmain {
  grid-column: 2/3;
}
